header, main, nav, footer, figure, figcaption, aside, section, article { 
    display: block; }

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#FFFFFF, gold);
    background-repeat: no-repeat;
    color: black;
}

header {
    background-color: mediumblue;
    color: gold;
    background-image: url("sunset.jpg");
    background-position: right;
    background-repeat: no-repeat;
    height: 80px;
    text-align: center;
    font-size: 150%;
    padding-top: 15px;
}

h1 {
    margin-bottom: 0;
    margin-top: 0;
    font-family: Georgia, "Times New Roman", serif;
}

nav {
    padding: 20px 20px 20px 20px;
    font-weight: bold;
    float: left;
    width: 160px;
}

  nav li {
        display: inline;
        padding-top: 0.50em;
        padding-bottom: 0.50em;
        padding-right: 0.75em;
        padding-left: 0.75em;
    }

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0px;
    font-size: 1.2em;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #000033;
}

nav a:visited {
    color: #344873;
}

nav a:hover {
    color: #FFFFFF;
}


main {
    background-color: #FFFFFF;
    margin-left: 190px;
    padding: 1px 20px 20px 30px;
    display: block;
}

h2 {
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    text-shadow: 1px 1px #CCCCCC;
    font-size: 200%;
}

h3 {
    color: black;
    font-family: Georgia, "Times New Roman", serif;
}


main ul {
    list-style-image: url('marker.gif');
}

video {
    padding-left: 150px;
    
}

footer {
    background-color: #FFFFFF;
    font-size: 75%;
    font-style: italic;
    text-align: center;
    padding: 20px 20px 20px 20px;
    margin-lefT: 190px;
}

img {
    float: right;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 100px;
}

dt {
    color: #000033;
}

table {
    border-spacing: 0;
    width: 80%;
    border: 1px solid black;
}

td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
    border: 1px solid black;
    padding: 5px;
}

.fort {
    color: black;
    font-weight: bold;
}

#slides {
    position: relative;
    height: 300px;
    padding: 0px;
    padding-bottom: 50px;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

label {
    float: left;
    padding-right: 10px;
    text-align: right;
    width: 120px;
    display: block;
}

input {
    display: block;
    margin-bottom: 20px;
}

textarea {
    display: block;
    margin-bottom: 20px;
}

select {
    display: block;
    margin-bottom: 20px;
}

.button {
    margin-left: 130px;
}

#mobile {
    display: none;
}

#desktop {
    display: inline;
}

#contact {
    font-size: 90%;
}

#wrapper {
    margin: auto;
    width: 80%;
    background-color: gold;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px 3px #333333;
}

#fortnitehero {
   height: 400px; 
   background-image: url("fortnite-load-screen.jpg");
   background-size: 100% 100%;
   background-repeat: no-repeat;
   margin-left: 190px;
}

.paypal-button {
    padding-left: 0px;
}

iframe {
    margin-left: 150px;
}

@media only screen and (max-width: 64em) { 
    
    body {
        margin: 0;
        background-color: #FFFFFF;
    }
    
    #wrapper {
        min-width: 0;
        width: auto;
        box-shadow: none;
    }
    
    main {
        margin-left: 0;
    }
    
    nav {
        float: none;
        width: auto;
        text-align: center;
        padding: 0.5em;
    }
    
    nav ul {
        text-align: center;
    }
    
    nav a {
        border-style: none;
    }
    
    nav li {
        display: inline;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        padding-right: 0.75em;
        padding-left: 0.75em;
    }
    
    #homehero {
        margin-left: 0;
        height: 200px;
    }
    
    #yurthero {
        margin-left: 0;
        height: 200px;
    }
    
    #trailhero {
        margin-left: 0;
        height: 200px;
    }
    
    footer {
        margin-left: 0;
    }
}


@media only screen and (max-width: 37.5em) {
    
    header {
        padding-top: 1em;
    }
    
    main {
        padding-bottom: 0.1em;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 90%;
    }
    
    h1 {
        font-size: 1.5em;
    }
    
    nav {
        padding: 0;
    }
    
    nav ul {
        padding: 0;
    }
    
    nav a {
        padding: 0;
        display: block;
    }
    
    nav li {
        padding: 0;
        display: block;
        margin: 0;
        border-bottom: 2px solid #330000;
    }
    
    #homehero {
        background-image: none;
        height: 0;
    }
    
    #yurthero {
        background-image: none;
        height: 0;
    }
    
    #trailhero {
        background-image: none;
        height: 0;
    }
    
    #mobile {
        display: inline;
    }
    
    #desktop {
        display: none;
    }
}